{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ 'app.register-competitor.title' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ 'app.register-competitor.title' | trans }}
                <small>
                    {{ 'app.global.title' | trans }}
                </small>
            </h1>
        </div>

        <p class="lead text-justify">
            {{ 'app.register-competitor.texts.info.1A' | trans | raw }}
            {{ 'app.register-competitor.texts.info.1B' | trans | raw }}
        </p>

        <p class="lead text-justify">
            {{ 'app.register-competitor.texts.info.2A' | trans | raw }}
            {{ 'app.register-competitor.texts.info.2B' | trans | raw }}
            {{ 'app.register-competitor.texts.info.2C' | trans | raw }}
            {{ 'app.register-competitor.texts.info.2D' | trans | raw }}
            <a href="{{ url('rules') }}">
                {{ 'app.register-competitor.texts.info.2E' | trans | raw }}
            </a>
            {{ 'app.register-competitor.texts.info.2F' | trans | raw }}
        </p>

        <p class="lead text-justify alert alert-warning">
            {{ 'app.register-competitor.texts.info.3A' | trans | raw }}
            {{ 'app.register-competitor.texts.info.3B' | trans | raw }}
        </p>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
